.PageHeader {
  height: 60px;

  background-color: #9775fa;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 16px 0 16px;

  .PageHeader__content {
    width: 1024px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
